<div id="particles-js" class="fullscreen">
  <div class="jumbotron text-center">
    {% if site.photo %}
    <img class="particles-photo" src="{{ site.photo }}" />
    {% endif %}
    <h1 class="particles-title">{{ site.title }}</h1>
    <h1 class="particles-subtitle">{{ site.taglong }}</h1>
    <div class="nowrap">
      {% if site.social.facebook %}
      <a class="particles-icon" href="https://www.facebook.com/sandipan.seal.37">{% include svg/facebook (1).svg %}</a>
      {% endif %}
      {% if site.social.instagram %}      
      <a class="particles-icon" href="https://www.instagram.com/seal_sandipan/">{% include svg/icons8-instagram.svg %}</a>
      {% endif %}
      {% if site.social.linkedin %}
      <a class="particles-icon" href="https://www.linkedin.com/in/sandipan-seal-68198b216/">{% include svg/linkedin (1).svg %}</a>
      {% endif %}
      {% if site.social.github %}
      <a class="particles-icon" href="https://github.com/sandipanseal">{% include svg/github (1).svg %}</a>
      {% endif %}
      <a class="particles-icon" href="https://drive.google.com/file/d/1LWUL59CKUnAyJ1fBONVyzpZsV5QabYbT/view?usp=drive_link">{% include svg/cv-circled.svg %}</a>
    </div>
  </div>
  <div class="particles-scroll">
    <a class="particles-icon" href="#scroll">{% include svg/nav-arrow-down (1).svg %}</a>
  </div>
</div>
